[tools]
jq = "1.8.1"
node = "25.4.0"
ruby = "4.0.1"
gh = "2.86.0"
python = '3.14.2'

[settings]
# All config files on these prefixes will be trusted
trusted_config_paths = [
    '~/dev',
]
idiomatic_version_file_enable_tools = ["node", "ruby"]

[tasks.unused-tools]
description = "Lists and optionally uninstall unused mise tools"
usage = '''
flag "-u --uninstall" help="If present uninstall unused tools instead of just listing them"
'''
run = '''
#!/usr/bin/env bash
mise ls --prunable;
if [ "${usage_uninstall:-false}" = "true" ]; then
    mise ls --prunable --json | jq -r 'to_entries[] | .key + "@" + .value[].version' | xargs mise uninstall
fi
'''

[shell_alias]
unused-mise-tools = "mise unused-tools"

# Ruby is sometimes a bit tricky to install with mise

# The issue I had on macOS:
# * following extensions are not compiled: psych: Could not be configured. It will not be installed.
# Solved with the following:
# > brew reinstall libyaml
# > gem install psych -- --with-libyaml-dir=$(brew --prefix libyaml)
# > sudo gem install psych -- --with-libyaml-dir=$(brew --prefix libyaml)
# > export RUBY_CONFIGURE_OPTS=--with-libyaml-dir=$(brew --prefix libyaml)
# and then running mise install again installed latest ruby without issues

# The issues I had on WSL and Mint (only difference is Linux already had gcc installed):
# * gcc wasn't installed
# > sudo apt update
# > sudo apt upgrade -y
# > sudo apt install build-essential -y
# * ruby compilation failed with: fatal error: zlib.h: No such file or directory
# > sudo apt install zlib1g-dev
# * ruby installation failed with: can't install following extensions are not compiled fiddle psych
# > sudo apt-get install libyaml-dev libffi-dev